.nav-icons-svg {
    fill: currentColor;
  
    margin-right: 10px;
  }
  .social-icons {
    display: flex;
  }
  .social-icons-item:not(:last-child) {
    margin-right: 10px;
  }
  .social-icons-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
  }
  .social-icons-link {
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-icons-link:hover,
  .social-icons-link:focus {
    color: var(--primary-white-color);
    background: var(--text-hover-color);
  }
  .social-icons-svg {
    height: 20px;
    width: 20px;
    fill: currentColor;
  }
  