.page-header {
    background: var(--primary-white-color);
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  
  
  .page-nav {
    display: flex;
    align-items: center;
  }
  